.pagination {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.previous-btn,
.next-btn {
  cursor: pointer;
  margin: 0rem 2rem;
  padding: 0.8rem;
  border: none;
  width: auto;
  display: flex;
}
.previous-btn:hover,
.next-btn:hover {
  background-color: #414040;
  color: white;
}
.hidden-btn {
  color: transparent;
  background-color: transparent;
  margin: 0rem 2rem;
  padding: 0.8rem;
  border: none;
  width: auto;
}
.page {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
