.loader {
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid blue;
  width: auto;
  height: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  width: 6rem;
  height: 6rem;
  margin-top: 2%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .loader {
    width: 4rem;
    height: 4rem;
    margin-top: 2%;
    margin-left: 0%;
  }
}
