.servers-List-Page {
  background: linear-gradient(to right, #f0e2d7bb, rgba(168, 42, 218, 0.65)),
    url("../../assets/servers-list-page.jpg");
  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-filter-container {
  margin: 1rem 0rem 1rem 1rem;
  display: flex;
  width: 50%;
}

.serversContiner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.load {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 90%;
  width: 108%;
}

.servers-table {
  width: 75%;
  height: 3rem;
}
.servers-table th {
  background-color: #9e9d9db0;
  padding: 1rem;
  color: #414040;
  font-size: 1.5rem;
}

@media screen and (max-width: 838px) {
  .search-filter-container {
    width: 60%;
  }
}
