* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-container {
  background-color: #444444;
  display: flex;
  align-items: center;
  height: 3rem;
  border: 0.2px solid red;
}
.navbar-link {
  margin: 0rem 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: large;
  border: 0.2px solid transparent;
}
.navbar-link:hover {
  border: 0.2px solid whitesmoke;
}
.pick-currency-container {
  margin: 0rem 1rem;
  display: flex;
  color: aliceblue;
  font-weight: 400;
  font-size: large;
}
.currency-pick {
  border: none;
  width: 5rem;
  height: 1.5rem;
  outline: none;
}
@media screen and (max-width: 693px) {
  .navbar-container {
    height: 3.5rem;
  }
  .navbar-link {
    font-size: small;
    margin: 0rem 0.1rem;
  }
  .pick-currency-container {
    flex-direction: column;
    color: aliceblue;
    font-weight: 100;
    font-size: small;
  }
  .currency-pick {
    width: 8rem;
    height: 1.2rem;
  }
}
