.tr-servers td {
  border: rgba(255, 255, 255, 0.324);
  background-color: rgba(255, 255, 255, 0.34);
  height: 3rem;
  text-indent: 0.5rem;
}
.button-2 {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: large;
}
.button-2:hover {
  color: white;
}
.icon-3:hover {
  color: rgb(47, 255, 61);
}
.icon-4:hover {
  color: red;
}
.off {
  color: red;
}
.on {
  color: rgb(47, 255, 61);
}
