.search-filter-select {
  text-indent: 0.5rem;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  background-color: white;
  border: transparent 1px solid;
  outline: none;
  width: 8rem;
  cursor: pointer;
}
.search-filter-select:hover {
  background-color: #f0e4e4;
}
@media screen and (max-width: 838px) {
  .search-filter-select {
    width: auto;
  }
}
