@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
}

.create-server-page {
  /* background: linear-gradient(to right, #b6afa9bb, rgba(168, 42, 218, 0.65)),
    url("./server.jpg"); */
  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  color: white;
  position: relative;
}
.create-page-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.226);
  width: 100vw;
  height: 80vh;
  margin-top: 7vh;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 4.5rem;
  margin-top: 11rem;
  height: 80%;
  width: 30%;
}
.title {
  position: absolute;
  margin-top: 5rem;
  margin-left: 5rem;
  font-size: 3.5rem;
}

label {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
  font-size: 1.3rem;
}
label,
input {
  padding: 0.3rem;
  border: none;
  outline: none;
}
.address-input,
.name-input {
  font-size: 1.2rem;
  align-self: flex-end;
  width: 15rem;
  color: black;
}
.select {
  font-size: 1.2rem;
  padding: 0.3rem;
  outline: none;
  border: none;
  width: 15rem;
}
.submit-Button {
  min-width: 12rem;
  height: 2.5rem;
  align-self: center;
  cursor: pointer;
  font-weight: 400;
  background-color: #414040;
  border: 2px solid transparent;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.submit-Button:hover {
  border: 2px solid white;
}
.error,
.created {
  color: white;
  font-weight: bold;
  height: auto;
  text-align: center;
  align-self: center;
  width: 12rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.created {
  background-color: rgba(172, 255, 47, 0.857);
  border: 3px solid rgba(172, 255, 47, 0.857);
}
.error {
  background-color: red;
  border: 3px solid red;
}

@media (max-width: 870px) {
  /* .servers-List-Page {
    flex-direction: column;
  }

  .pick-currency {
    margin-left: 2rem;
  }
  .currency {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }
  form {
    margin-left: 0;
    width: 100%;
  }
  .submit-Button {
    width: auto;
  } */
}
