@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
}
.home-page-div {
  background-color: #272727;
}
.home-page {
  /* clip-path: circle(60%); */
  background: linear-gradient(to right, #f0e2d7bb, rgba(168, 42, 218, 0.65)),
    url("./pexels-panumas-nikhomkhai-1148820.jpg");
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  position: relative;
  color: white;
}

.first-sentence {
  position: absolute;
  margin-left: 27%;
  margin-top: 10%;
  font-size: 4rem;
}
.second-sentence {
  position: absolute;
  margin-left: 33%;
  margin-top: 15%;
  font-size: 2rem;
}
.button-1 {
  position: absolute;
  margin-left: 44%;
  margin-top: 19%;
  font-size: 1.5rem;
  height: 3rem;
  width: 15rem;
  background-color: #272727;
  color: rgba(255, 255, 255, 0.983);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.button-1:hover {
  background-color: #414040;
  color: white;
}
.servers-List-Page {
  /* background: url("./create-server.jpg"); */
  background: linear-gradient(to right, #f0e2d7bb, rgba(168, 42, 218, 0.65)),
    url("./pexels-manuel-geissinger-325229.jpg");

  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  position: relative;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  align-items: center;
}
.serversContiner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  /* border: #c08e2b 2px solid; */
}
.servers {
  /* display: flex;
  flex-wrap: wrap; */
  /* align-items: center;
  justify-content: center; */
}
.servers-table {
  width: 60vw;
  background-color: #595959;
  height: 3rem;
  /* border: 1px solid white; */
}
.servers-table th {
  /* border-right: 1px solid white; */
  padding: 1rem;
  border-right: 1px solid;

  /* font-size: 1.2rem;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #272727;
  color: white;
  margin-left: 5px;
  width: auto; */
}

.pick-currency {
  margin-top: 1rem;
  color: black;
  font-weight: bold;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .serversContiner {
  width: 100%;
  display: flex;
  margin-top: 10%;
  border: #c08e2b 2px solid;
} */
.currency {
  border: none;
  width: 5rem;
  height: 1.5rem;
  outline: none;
  margin-top: 0.5rem;
}
.create-server-page {
  background: linear-gradient(to right, #b6afa9bb, rgba(168, 42, 218, 0.65)),
    url("./server.jpg");
  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  color: white;
  position: relative;
}
.create-page-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.226);
  width: 100vw;
  height: 80vh;
  margin-top: 7vh;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 4.5rem;
  margin-top: 11rem;
  height: 80%;
  width: 30%;
}
.title {
  position: absolute;
  margin-top: 5rem;
  margin-left: 5rem;
  font-size: 3.5rem;
}

label {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
  font-size: 1.3rem;
}
label,
input {
  padding: 0.3rem;
  border: none;
  outline: none;
}
.address-input,
.name-input {
  font-size: 1.2rem;
  align-self: flex-end;
  width: 15rem;
  color: black;
}
.select {
  font-size: 1.2rem;
  padding: 0.3rem;
  outline: none;
  border: none;
  width: 15rem;
}
.submit-Button {
  min-width: 12rem;
  height: 2.5rem;
  align-self: center;
  cursor: pointer;
  font-weight: 400;
  background-color: #414040;
  border: 2px solid transparent;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.submit-Button:hover {
  border: 2px solid white;
}
.error,
.created {
  color: white;
  font-weight: bold;
  height: auto;
  text-align: center;
  align-self: center;
  width: 12rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.created {
  background-color: rgba(172, 255, 47, 0.857);
  border: 3px solid rgba(172, 255, 47, 0.857);
}
.error {
  background-color: red;
  border: 3px solid red;
}
.load {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 90%;
  width: 108%;
}

@media (max-width: 650px) {
  .first-sentence {
    font-size: 1.5rem;
  }
  .second-sentence {
    margin-top: 20%;
    font-size: 1rem;
  }
  .button-1 {
    margin-top: 30%;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 15px;
  }
  .button-1:hover {
    background-color: #c08e2b;
  }
  .servers-List-Page {
    flex-direction: column;
  }

  .pick-currency {
    margin-left: 2rem;
  }
  .currency {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }
  form {
    margin-left: 0;
    width: 100%;
  }
  .submit-Button {
    width: auto;
  }
}
